<c-row>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header class="d-flex justify-content-between align-items-center">
                <div>
                    <strong><h3 class="mb-3">Cuántas categorías están asociadas por torneo</h3></strong>
                </div>
            </c-card-header>
            <c-card-body>
                <c-chart [data]="data" type="bar"/>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<c-row>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header class="d-flex justify-content-between align-items-center">
                <div>
                    <strong>Inscripciones categorias en torneo</strong>
                </div>
                <div>
                    <button *ngIf="authService.currentRole === 'ADMIN' || authService.currentRole === 'MODERATOR'" class=" btn btn-primary" (click)="agregar()">Nueva asignacion</button>
                </div>
            </c-card-header>
            <c-card-body>
                <c-alert *ngIf="mostrarExito" color="success">{{ mensajeExito }}</c-alert>
                <c-alert *ngIf="mostrarError" color="danger">{{ mensajeError }}</c-alert>
                <table cTable responsive="xxl">
                    <thead>
                        <tr>
                            <th scope="col">Torneo</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Observacion</th>
                            <th scope="col">Lugar</th>
                            <th scope="col">Inicio</th>
                            <th scope="col">Categoria</th>
                            <th scope="col" *ngIf="authService.currentRole === 'ADMIN' || authService.currentRole === 'MODERATOR'">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let t of torneosCategorias">
                            <td>{{ t.torneo.nombre }}</td>
                            <td>{{ t.torneo.descripcion }}</td>
                            <td>{{ t.observaciones }}</td>
                            <td>{{ t.torneo.lugar }}</td>
                            <td>{{ t.torneo.fecha_inicio | date:'dd/MM/yyyy' }}</td>
                            <td>{{ t.categoria.nombre }}</td>
                            <td *ngIf="authService.currentRole === 'ADMIN' || authService.currentRole === 'MODERATOR'">
                                <button cButton size="sm" variant="outline" color="primary" (click)="modificar(t)"
                                    cTooltip="Editar torneo categoria">
                                    <svg cIcon name="cilPencil" size="sm"></svg>
                                </button>
                                <button cButton size="sm" variant="outline" color="danger"
                                    (click)="toggleLiveDemo(t)" cTooltip="Eliminar torneo categoria">
                                    <svg cIcon name="cilTrash" size="sm"></svg>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>

<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
        <h5 cModalTitle>Eliminar Asignacion del torneo</h5>
        <button (click)="toggleLiveDemo()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>Debe confirmar para poder eliminar la asignacion</c-modal-body>
    <c-modal-footer>
        <button (click)="toggleLiveDemo()" cButton color="secondary">
            Cancelar
        </button>
        <button (click)="eliminarTorneoCategoria()" class="btn btn-primary">Eliminar</button>
    </c-modal-footer>
</c-modal>