<div class="card shadow-sm">
  <div class="card-header bg-primary text-white d-flex align-items-center justify-content-between">
    <h4 class="mb-0">Cuotas</h4>
    <button class="btn btn-success btn-sm text-white ms-2 shadow" (click)="onNuevaCuota()">
      <i class="bi bi-plus-lg me-1"></i> NUEVA CUOTA
    </button>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered align-middle mb-0">
        <thead class="table-dark">
          <tr>
            <th scope="col">Alumno</th>
            <th scope="col">Categoría</th>
            <th scope="col">Período</th>
            <th scope="col">Monto</th>
            <th scope="col">Total</th>
            <th scope="col">Vencimiento</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of cuotas">
            <td>
              {{ getNombreAlumno(c) }}
            </td>
            <td>{{ getNombreCategoria(c) }}</td>
            <td>{{ c.mes }} {{ c.anio }}</td>
            <td>{{ c.montoFormateado }}</td>
            <td>{{ c.totalFormateado }}</td>
            <td>{{ c.fechaVencimientoFormateada }}</td>
            <td>
              <span [class]="getEstadoClass(c.estado!)">{{ c.estadoTexto }}</span>
            </td>
            <td>
              <button class="btn btn-info btn-sm me-1" (click)="onVerDetalle(c)">
                <i class="bi bi-search"></i>
              </button>
              <button class="btn btn-primary btn-sm me-1" (click)="onModificar(c)">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-danger btn-sm" (click)="onEliminar(c._id!)">
                <i class="bi bi-trash"></i>
              </button>
              <button class="btn btn-success btn-sm ms-2"
                      (click)="onPagar(c)"
                      [disabled]="c.estado === 'PAGA'">
                Pagar
              </button>
            </td> 
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
