<c-row>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header class="d-flex justify-content-between align-items-center">
                <div>
                    <strong>{{tituloForm}}</strong>
                </div>
            </c-card-header>
            <c-card-body>
                <c-alert *ngIf="mostrarExito" color="success">{{ mensajeExito }}</c-alert>
                <c-alert *ngIf="mostrarError" color="danger">{{ mensajeError }}</c-alert>
                <form #formTorneo="ngForm" [validated]="formValidado"
                    (ngSubmit)="accion === 'new' ? agregarTorneo() : actualizarTorneo()" novalidate cForm cRow
                    class="needs-validation">

                    <c-col [md]="6">
                        <label cLabel for="idnombre">Nombre<span class="text-danger">*</span></label>
                        <input id="idnombre" name="nombre" cFormControl [(ngModel)]="torneo.nombre" type="text"
                            required />
                        <c-form-feedback [valid]="false">Campo obligatorio, coloque un nombre válido</c-form-feedback>
                    </c-col>

                    <c-col [md]="6">
                        <label cLabel for="idDescripcion">Descripción<span class="text-danger">*</span></label>
                        <input id="idDescripcion" name="descripcion" cFormControl [(ngModel)]="torneo.descripcion"
                            type="text" required />
                        <c-form-feedback [valid]="false">Campo obligatorio, coloque una descripción
                            válida</c-form-feedback>
                    </c-col>

                    <c-col [md]="6">
                        <label cLabel for="idlugar">Lugar<span class="text-danger">*</span></label>
                        <input id="idlugar" name="lugar" cFormControl [(ngModel)]="torneo.lugar" type="text" required />
                        <c-form-feedback [valid]="false">Campo obligatorio, coloque una lugar válido</c-form-feedback>
                    </c-col>

                    <c-col [md]="6">
                        <label cLabel for="idDireccion">Dirección<span class="text-danger">*</span></label>
                        <input id="idDireccion" name="direccion" cFormControl [(ngModel)]="torneo.direccion" type="text"
                            required />
                        <c-form-feedback [valid]="false">Campo obligatorio, coloque una dirección
                            válida</c-form-feedback>
                    </c-col>

                    <c-col [md]="6">
                        <label cLabel for="idOrganizador">Organizador<span class="text-danger">*</span></label>
                        <input id="idOrganizador" name="organizador" cFormControl [(ngModel)]="torneo.organizador"
                            type="text" required />
                        <c-form-feedback [valid]="false">Campo obligatorio, coloque un organizador
                            válido</c-form-feedback>
                    </c-col>

                    <c-col [md]="6">
                        <label cLabel for="idinscripcion">Costo de inscripción<span class="text-danger">*</span></label>
                        <input id="idinscripcion" name="costo_inscripcion" cFormControl
                            [(ngModel)]="torneo.costo_inscripcion" type="number" step="0.01" min="0" required />
                        <c-form-feedback [valid]="false">Campo obligatorio, debe ser un número válido positivo o
                            cero</c-form-feedback>
                    </c-col>

                    <c-col [md]="6">
                        <label cLabel for="idinicio">Fecha de inicio<span class="text-danger">*</span></label>
                        <input id="idinicio" name="fecha_inicio" cFormControl [(ngModel)]="torneo.fecha_inicio"
                            type="date" [min]="fechaMinima" required />
                        <c-form-feedback [valid]="false">Campo obligatorio, debe seleccionar una fecha válida a partir
                            de hoy</c-form-feedback>
                    </c-col>

                    <c-col [md]="12">
                        <button cButton color="primary" type="submit" class="mt-2" [disabled]="enviandoFormulario">
                            {{ accion === 'new' ? 'Guardar' : 'Actualizar' }}
                        </button>
                    </c-col>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>